<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_id</key>
		<string>1</string>
		<key>face_image_name</key>
		<string>[龇牙]</string>
		<key>face_name</key>
		<string>[龇牙]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>2</string>
		<key>face_image_name</key>
		<string>[调皮]</string>
		<key>face_name</key>
		<string>[调皮]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>3</string>
		<key>face_image_name</key>
		<string>[流汗]</string>
		<key>face_name</key>
		<string>[流汗]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>4</string>
		<key>face_image_name</key>
		<string>[偷笑]</string>
		<key>face_name</key>
		<string>[偷笑]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>5</string>
		<key>face_image_name</key>
		<string>[再见]</string>
		<key>face_name</key>
		<string>[再见]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>6</string>
		<key>face_image_name</key>
		<string>[敲打]</string>
		<key>face_name</key>
		<string>[敲打]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>7</string>
		<key>face_image_name</key>
		<string>[擦汗]</string>
		<key>face_name</key>
		<string>[擦汗]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>10</string>
		<key>face_image_name</key>
		<string>[流泪]</string>
		<key>face_name</key>
		<string>[流泪]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>11</string>
		<key>face_image_name</key>
		<string>[大哭]</string>
		<key>face_name</key>
		<string>[大哭]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>12</string>
		<key>face_image_name</key>
		<string>[嘘]</string>
		<key>face_name</key>
		<string>[嘘]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>13</string>
		<key>face_image_name</key>
		<string>[酷]</string>
		<key>face_name</key>
		<string>[酷]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>14</string>
		<key>face_image_name</key>
		<string>[抓狂]</string>
		<key>face_name</key>
		<string>[抓狂]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>15</string>
		<key>face_image_name</key>
		<string>[委屈]</string>
		<key>face_name</key>
		<string>[委屈]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>19</string>
		<key>face_image_name</key>
		<string>[可爱]</string>
		<key>face_name</key>
		<string>[可爱]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>20</string>
		<key>face_image_name</key>
		<string>[色]</string>
		<key>face_name</key>
		<string>[色]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>21</string>
		<key>face_image_name</key>
		<string>[害羞]</string>
		<key>face_name</key>
		<string>[害羞]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>22</string>
		<key>face_image_name</key>
		<string>[得意]</string>
		<key>face_name</key>
		<string>[得意]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>23</string>
		<key>face_image_name</key>
		<string>[吐]</string>
		<key>face_name</key>
		<string>[吐]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>24</string>
		<key>face_image_name</key>
		<string>[微笑]</string>
		<key>face_name</key>
		<string>[微笑]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>25</string>
		<key>face_image_name</key>
		<string>[怒]</string>
		<key>face_name</key>
		<string>[怒]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>26</string>
		<key>face_image_name</key>
		<string>[尴尬]</string>
		<key>face_name</key>
		<string>[尴尬]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>27</string>
		<key>face_image_name</key>
		<string>[惊恐]</string>
		<key>face_name</key>
		<string>[惊恐]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>28</string>
		<key>face_image_name</key>
		<string>[冷汗]</string>
		<key>face_name</key>
		<string>[冷汗]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>31</string>
		<key>face_image_name</key>
		<string>[白眼]</string>
		<key>face_name</key>
		<string>[白眼]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>32</string>
		<key>face_image_name</key>
		<string>[傲慢]</string>
		<key>face_name</key>
		<string>[傲慢]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>33</string>
		<key>face_image_name</key>
		<string>[难过]</string>
		<key>face_name</key>
		<string>[难过]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>34</string>
		<key>face_image_name</key>
		<string>[惊讶]</string>
		<key>face_name</key>
		<string>[惊讶]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>35</string>
		<key>face_image_name</key>
		<string>[疑问]</string>
		<key>face_name</key>
		<string>[疑问]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>36</string>
		<key>face_image_name</key>
		<string>[困]</string>
		<key>face_name</key>
		<string>[困]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>37</string>
		<key>face_image_name</key>
		<string>[么么哒]</string>
		<key>face_name</key>
		<string>[么么哒]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>38</string>
		<key>face_image_name</key>
		<string>[憨笑]</string>
		<key>face_name</key>
		<string>[憨笑]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>40</string>
		<key>face_image_name</key>
		<string>[衰]</string>
		<key>face_name</key>
		<string>[衰]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>41</string>
		<key>face_image_name</key>
		<string>[撇嘴]</string>
		<key>face_name</key>
		<string>[撇嘴]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>42</string>
		<key>face_image_name</key>
		<string>[阴险]</string>
		<key>face_name</key>
		<string>[阴险]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>43</string>
		<key>face_image_name</key>
		<string>[奋斗]</string>
		<key>face_name</key>
		<string>[奋斗]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>44</string>
		<key>face_image_name</key>
		<string>[发呆]</string>
		<key>face_name</key>
		<string>[发呆]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>87</string>
		<key>face_image_name</key>
		<string>[左哼哼]</string>
		<key>face_name</key>
		<string>[左哼哼]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>45</string>
		<key>face_image_name</key>
		<string>[右哼哼]</string>
		<key>face_name</key>
		<string>[右哼哼]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>46</string>
		<key>face_image_name</key>
		<string>[抱抱]</string>
		<key>face_name</key>
		<string>[抱抱]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>47</string>
		<key>face_image_name</key>
		<string>[坏笑]</string>
		<key>face_name</key>
		<string>[坏笑]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>49</string>
		<key>face_image_name</key>
		<string>[鄙视]</string>
		<key>face_name</key>
		<string>[鄙视]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>50</string>
		<key>face_image_name</key>
		<string>[晕]</string>
		<key>face_name</key>
		<string>[晕]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>51</string>
		<key>face_image_name</key>
		<string>[大兵]</string>
		<key>face_name</key>
		<string>[大兵]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>52</string>
		<key>face_image_name</key>
		<string>[可怜]</string>
		<key>face_name</key>
		<string>[可怜]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>80</string>
		<key>face_image_name</key>
		<string>[饥饿]</string>
		<key>face_name</key>
		<string>[饥饿]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>105</string>
		<key>face_image_name</key>
		<string>[闭嘴]</string>
		<key>face_name</key>
		<string>[闭嘴]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>81</string>
		<key>face_image_name</key>
		<string>[睡觉]</string>
		<key>face_name</key>
		<string>[睡觉]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>82</string>
		<key>face_image_name</key>
		<string>[咒骂]</string>
		<key>face_name</key>
		<string>[咒骂]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>83</string>
		<key>face_image_name</key>
		<string>[折磨]</string>
		<key>face_name</key>
		<string>[折磨]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>84</string>
		<key>face_image_name</key>
		<string>[抠鼻]</string>
		<key>face_name</key>
		<string>[抠鼻]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>85</string>
		<key>face_image_name</key>
		<string>[鼓掌]</string>
		<key>face_name</key>
		<string>[鼓掌]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>86</string>
		<key>face_image_name</key>
		<string>[糗大了]</string>
		<key>face_name</key>
		<string>[糗大了]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>88</string>
		<key>face_image_name</key>
		<string>[打哈欠]</string>
		<key>face_name</key>
		<string>[打哈欠]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>89</string>
		<key>face_image_name</key>
		<string>[快哭了]</string>
		<key>face_name</key>
		<string>[快哭了]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>90</string>
		<key>face_image_name</key>
		<string>[吓]</string>
		<key>face_name</key>
		<string>[吓]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>8</string>
		<key>face_image_name</key>
		<string>[猪头]</string>
		<key>face_name</key>
		<string>[猪头]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>9</string>
		<key>face_image_name</key>
		<string>[玫瑰]</string>
		<key>face_name</key>
		<string>[玫瑰]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>16</string>
		<key>face_image_name</key>
		<string>[便便]</string>
		<key>face_name</key>
		<string>[便便]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>17</string>
		<key>face_image_name</key>
		<string>[炸弹]</string>
		<key>face_name</key>
		<string>[炸弹]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>18</string>
		<key>face_image_name</key>
		<string>[菜刀]</string>
		<key>face_name</key>
		<string>[菜刀]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>29</string>
		<key>face_image_name</key>
		<string>[爱心]</string>
		<key>face_name</key>
		<string>[爱心]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>30</string>
		<key>face_image_name</key>
		<string>[示爱]</string>
		<key>face_name</key>
		<string>[示爱]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>39</string>
		<key>face_image_name</key>
		<string>[爱情]</string>
		<key>face_name</key>
		<string>[爱情]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>48</string>
		<key>face_image_name</key>
		<string>[飞吻]</string>
		<key>face_name</key>
		<string>[飞吻]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>53</string>
		<key>face_image_name</key>
		<string>[强]</string>
		<key>face_name</key>
		<string>[强]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>54</string>
		<key>face_image_name</key>
		<string>[弱]</string>
		<key>face_name</key>
		<string>[弱]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>55</string>
		<key>face_image_name</key>
		<string>[握手]</string>
		<key>face_name</key>
		<string>[握手]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>56</string>
		<key>face_image_name</key>
		<string>[胜利]</string>
		<key>face_name</key>
		<string>[胜利]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>57</string>
		<key>face_image_name</key>
		<string>[抱拳]</string>
		<key>face_name</key>
		<string>[抱拳]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>58</string>
		<key>face_image_name</key>
		<string>[凋谢]</string>
		<key>face_name</key>
		<string>[凋谢]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>59</string>
		<key>face_image_name</key>
		<string>[米饭]</string>
		<key>face_name</key>
		<string>[米饭]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>60</string>
		<key>face_image_name</key>
		<string>[蛋糕]</string>
		<key>face_name</key>
		<string>[蛋糕]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>61</string>
		<key>face_image_name</key>
		<string>[西瓜]</string>
		<key>face_name</key>
		<string>[西瓜]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>62</string>
		<key>face_image_name</key>
		<string>[啤酒]</string>
		<key>face_name</key>
		<string>[啤酒]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>63</string>
		<key>face_image_name</key>
		<string>[瓢虫]</string>
		<key>face_name</key>
		<string>[瓢虫]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>64</string>
		<key>face_image_name</key>
		<string>[勾引]</string>
		<key>face_name</key>
		<string>[勾引]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>65</string>
		<key>face_image_name</key>
		<string>[OK]</string>
		<key>face_name</key>
		<string>[OK]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>66</string>
		<key>face_image_name</key>
		<string>[爱你]</string>
		<key>face_name</key>
		<string>[爱你]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>67</string>
		<key>face_image_name</key>
		<string>[咖啡]</string>
		<key>face_name</key>
		<string>[咖啡]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>68</string>
		<key>face_image_name</key>
		<string>[月亮]</string>
		<key>face_name</key>
		<string>[月亮]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>69</string>
		<key>face_image_name</key>
		<string>[刀]</string>
		<key>face_name</key>
		<string>[刀]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>70</string>
		<key>face_image_name</key>
		<string>[发抖]</string>
		<key>face_name</key>
		<string>[发抖]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>71</string>
		<key>face_image_name</key>
		<string>[差劲]</string>
		<key>face_name</key>
		<string>[差劲]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>72</string>
		<key>face_image_name</key>
		<string>[拳头]</string>
		<key>face_name</key>
		<string>[拳头]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>73</string>
		<key>face_image_name</key>
		<string>[心碎了]</string>
		<key>face_name</key>
		<string>[心碎了]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>74</string>
		<key>face_image_name</key>
		<string>[太阳]</string>
		<key>face_name</key>
		<string>[太阳]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>75</string>
		<key>face_image_name</key>
		<string>[礼物]</string>
		<key>face_name</key>
		<string>[礼物]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>76</string>
		<key>face_image_name</key>
		<string>[皮球]</string>
		<key>face_name</key>
		<string>[皮球]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>77</string>
		<key>face_image_name</key>
		<string>[骷髅]</string>
		<key>face_name</key>
		<string>[骷髅]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>78</string>
		<key>face_image_name</key>
		<string>[挥手]</string>
		<key>face_name</key>
		<string>[挥手]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>79</string>
		<key>face_image_name</key>
		<string>[闪电]</string>
		<key>face_name</key>
		<string>[闪电]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>91</string>
		<key>face_image_name</key>
		<string>[篮球]</string>
		<key>face_name</key>
		<string>[篮球]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>92</string>
		<key>face_image_name</key>
		<string>[乒乓]</string>
		<key>face_name</key>
		<string>[乒乓]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>93</string>
		<key>face_image_name</key>
		<string>[NO]</string>
		<key>face_name</key>
		<string>[NO]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>94</string>
		<key>face_image_name</key>
		<string>[跳跳]</string>
		<key>face_name</key>
		<string>[跳跳]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>95</string>
		<key>face_image_name</key>
		<string>[怄火]</string>
		<key>face_name</key>
		<string>[怄火]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>96</string>
		<key>face_image_name</key>
		<string>[转圈]</string>
		<key>face_name</key>
		<string>[转圈]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>97</string>
		<key>face_image_name</key>
		<string>[磕头]</string>
		<key>face_name</key>
		<string>[磕头]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>98</string>
		<key>face_image_name</key>
		<string>[回头]</string>
		<key>face_name</key>
		<string>[回头]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>99</string>
		<key>face_image_name</key>
		<string>[跳绳]</string>
		<key>face_name</key>
		<string>[跳绳]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>100</string>
		<key>face_image_name</key>
		<string>[激动]</string>
		<key>face_name</key>
		<string>[激动]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>101</string>
		<key>face_image_name</key>
		<string>[街舞]</string>
		<key>face_name</key>
		<string>[街舞]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>102</string>
		<key>face_image_name</key>
		<string>[献吻]</string>
		<key>face_name</key>
		<string>[献吻]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>103</string>
		<key>face_image_name</key>
		<string>[左太极]</string>
		<key>face_name</key>
		<string>[左太极]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>104</string>
		<key>face_image_name</key>
		<string>[右太极]</string>
		<key>face_name</key>
		<string>[右太极]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>106</string>
		<key>face_image_name</key>
		<string>[猫咪]</string>
		<key>face_name</key>
		<string>[猫咪]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>107</string>
		<key>face_image_name</key>
		<string>[红双喜]</string>
		<key>face_name</key>
		<string>[红双喜]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>108</string>
		<key>face_image_name</key>
		<string>[鞭炮]</string>
		<key>face_name</key>
		<string>[鞭炮]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>109</string>
		<key>face_image_name</key>
		<string>[红灯笼]</string>
		<key>face_name</key>
		<string>[红灯笼]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>110</string>
		<key>face_image_name</key>
		<string>[麻将]</string>
		<key>face_name</key>
		<string>[麻将]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>111</string>
		<key>face_image_name</key>
		<string>[麦克风]</string>
		<key>face_name</key>
		<string>[麦克风]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>112</string>
		<key>face_image_name</key>
		<string>[礼品袋]</string>
		<key>face_name</key>
		<string>[礼品袋]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>113</string>
		<key>face_image_name</key>
		<string>[信封]</string>
		<key>face_name</key>
		<string>[信封]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>114</string>
		<key>face_image_name</key>
		<string>[象棋]</string>
		<key>face_name</key>
		<string>[象棋]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>115</string>
		<key>face_image_name</key>
		<string>[彩带]</string>
		<key>face_name</key>
		<string>[彩带]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>116</string>
		<key>face_image_name</key>
		<string>[蜡烛]</string>
		<key>face_name</key>
		<string>[蜡烛]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>117</string>
		<key>face_image_name</key>
		<string>[爆筋]</string>
		<key>face_name</key>
		<string>[爆筋]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>118</string>
		<key>face_image_name</key>
		<string>[棒棒糖]</string>
		<key>face_name</key>
		<string>[棒棒糖]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>119</string>
		<key>face_image_name</key>
		<string>[奶瓶]</string>
		<key>face_name</key>
		<string>[奶瓶]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>120</string>
		<key>face_image_name</key>
		<string>[面条]</string>
		<key>face_name</key>
		<string>[面条]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>121</string>
		<key>face_image_name</key>
		<string>[香蕉]</string>
		<key>face_name</key>
		<string>[香蕉]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>122</string>
		<key>face_image_name</key>
		<string>[飞机]</string>
		<key>face_name</key>
		<string>[飞机]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>123</string>
		<key>face_image_name</key>
		<string>[汽车]</string>
		<key>face_name</key>
		<string>[汽车]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>124</string>
		<key>face_image_name</key>
		<string>[左车头]</string>
		<key>face_name</key>
		<string>[左车头]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>125</string>
		<key>face_image_name</key>
		<string>[车厢]</string>
		<key>face_name</key>
		<string>[车厢]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>126</string>
		<key>face_image_name</key>
		<string>[右车头]</string>
		<key>face_name</key>
		<string>[右车头]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>127</string>
		<key>face_image_name</key>
		<string>[多云]</string>
		<key>face_name</key>
		<string>[多云]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>128</string>
		<key>face_image_name</key>
		<string>[下雨]</string>
		<key>face_name</key>
		<string>[下雨]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>129</string>
		<key>face_image_name</key>
		<string>[钞票]</string>
		<key>face_name</key>
		<string>[钞票]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>130</string>
		<key>face_image_name</key>
		<string>[熊猫]</string>
		<key>face_name</key>
		<string>[熊猫]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>131</string>
		<key>face_image_name</key>
		<string>[灯泡]</string>
		<key>face_name</key>
		<string>[灯泡]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>132</string>
		<key>face_image_name</key>
		<string>[风车]</string>
		<key>face_name</key>
		<string>[风车]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>133</string>
		<key>face_image_name</key>
		<string>[闹钟]</string>
		<key>face_name</key>
		<string>[闹钟]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>134</string>
		<key>face_image_name</key>
		<string>[雨伞]</string>
		<key>face_name</key>
		<string>[雨伞]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>135</string>
		<key>face_image_name</key>
		<string>[彩球]</string>
		<key>face_name</key>
		<string>[彩球]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>136</string>
		<key>face_image_name</key>
		<string>[钻戒]</string>
		<key>face_name</key>
		<string>[钻戒]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>137</string>
		<key>face_image_name</key>
		<string>[沙发]</string>
		<key>face_name</key>
		<string>[沙发]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>138</string>
		<key>face_image_name</key>
		<string>[纸巾]</string>
		<key>face_name</key>
		<string>[纸巾]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>139</string>
		<key>face_image_name</key>
		<string>[药]</string>
		<key>face_name</key>
		<string>[药]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>140</string>
		<key>face_image_name</key>
		<string>[手枪]</string>
		<key>face_name</key>
		<string>[手枪]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>141</string>
		<key>face_image_name</key>
		<string>[青蛙]</string>
		<key>face_name</key>
		<string>[青蛙]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
