<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_id</key>
		<string>1</string>
		<key>face_image_name</key>
		<string>[龇牙]</string>
		<key>face_name</key>
		<string>[龇牙]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>2</string>
		<key>face_image_name</key>
		<string>[调皮]</string>
		<key>face_name</key>
		<string>[调皮]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>4</string>
		<key>face_image_name</key>
		<string>[偷笑]</string>
		<key>face_name</key>
		<string>[偷笑]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>7</string>
		<key>face_image_name</key>
		<string>[擦汗]</string>
		<key>face_name</key>
		<string>[擦汗]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>10</string>
		<key>face_image_name</key>
		<string>[流泪]</string>
		<key>face_name</key>
		<string>[流泪]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>11</string>
		<key>face_image_name</key>
		<string>[大哭]</string>
		<key>face_name</key>
		<string>[大哭]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>14</string>
		<key>face_image_name</key>
		<string>[抓狂]</string>
		<key>face_name</key>
		<string>[抓狂]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>19</string>
		<key>face_image_name</key>
		<string>[可爱]</string>
		<key>face_name</key>
		<string>[可爱]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>20</string>
		<key>face_image_name</key>
		<string>[色]</string>
		<key>face_name</key>
		<string>[色]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>21</string>
		<key>face_image_name</key>
		<string>[害羞]</string>
		<key>face_name</key>
		<string>[害羞]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>23</string>
		<key>face_image_name</key>
		<string>[吐]</string>
		<key>face_name</key>
		<string>[吐]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>25</string>
		<key>face_image_name</key>
		<string>[怒]</string>
		<key>face_name</key>
		<string>[怒]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>27</string>
		<key>face_image_name</key>
		<string>[惊恐]</string>
		<key>face_name</key>
		<string>[惊恐]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>32</string>
		<key>face_image_name</key>
		<string>[傲慢]</string>
		<key>face_name</key>
		<string>[傲慢]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>34</string>
		<key>face_image_name</key>
		<string>[惊讶]</string>
		<key>face_name</key>
		<string>[惊讶]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>35</string>
		<key>face_image_name</key>
		<string>[疑问]</string>
		<key>face_name</key>
		<string>[疑问]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>36</string>
		<key>face_image_name</key>
		<string>[困]</string>
		<key>face_name</key>
		<string>[困]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>37</string>
		<key>face_image_name</key>
		<string>[么么哒]</string>
		<key>face_name</key>
		<string>[么么哒]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>40</string>
		<key>face_image_name</key>
		<string>[衰]</string>
		<key>face_name</key>
		<string>[衰]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>41</string>
		<key>face_image_name</key>
		<string>[撇嘴]</string>
		<key>face_name</key>
		<string>[撇嘴]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>43</string>
		<key>face_image_name</key>
		<string>[奋斗]</string>
		<key>face_name</key>
		<string>[奋斗]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>87</string>
		<key>face_image_name</key>
		<string>[左哼哼]</string>
		<key>face_name</key>
		<string>[左哼哼]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>45</string>
		<key>face_image_name</key>
		<string>[右哼哼]</string>
		<key>face_name</key>
		<string>[右哼哼]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>46</string>
		<key>face_image_name</key>
		<string>[抱抱]</string>
		<key>face_name</key>
		<string>[抱抱]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>47</string>
		<key>face_image_name</key>
		<string>[坏笑]</string>
		<key>face_name</key>
		<string>[坏笑]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>49</string>
		<key>face_image_name</key>
		<string>[鄙视]</string>
		<key>face_name</key>
		<string>[鄙视]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>50</string>
		<key>face_image_name</key>
		<string>[晕]</string>
		<key>face_name</key>
		<string>[晕]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>52</string>
		<key>face_image_name</key>
		<string>[可怜]</string>
		<key>face_name</key>
		<string>[可怜]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>105</string>
		<key>face_image_name</key>
		<string>[闭嘴]</string>
		<key>face_name</key>
		<string>[闭嘴]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>81</string>
		<key>face_image_name</key>
		<string>[睡觉]</string>
		<key>face_name</key>
		<string>[睡觉]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>82</string>
		<key>face_image_name</key>
		<string>[咒骂]</string>
		<key>face_name</key>
		<string>[咒骂]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>84</string>
		<key>face_image_name</key>
		<string>[抠鼻]</string>
		<key>face_name</key>
		<string>[抠鼻]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>85</string>
		<key>face_image_name</key>
		<string>[鼓掌]</string>
		<key>face_name</key>
		<string>[鼓掌]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>86</string>
		<key>face_image_name</key>
		<string>[糗大了]</string>
		<key>face_name</key>
		<string>[糗大了]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>89</string>
		<key>face_image_name</key>
		<string>[快哭了]</string>
		<key>face_name</key>
		<string>[快哭了]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>90</string>
		<key>face_image_name</key>
		<string>[吓]</string>
		<key>face_name</key>
		<string>[吓]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>8</string>
		<key>face_image_name</key>
		<string>[猪头]</string>
		<key>face_name</key>
		<string>[猪头]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>29</string>
		<key>face_image_name</key>
		<string>[爱心]</string>
		<key>face_name</key>
		<string>[爱心]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>30</string>
		<key>face_image_name</key>
		<string>[示爱]</string>
		<key>face_name</key>
		<string>[示爱]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>71</string>
		<key>face_image_name</key>
		<string>[差劲]</string>
		<key>face_name</key>
		<string>[差劲]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>face_id</key>
		<string>73</string>
		<key>face_image_name</key>
		<string>[心碎了]</string>
		<key>face_name</key>
		<string>[心碎了]</string>
		<key>face_rank</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
